<% @player_json.sort_by! { |p| p[:finished] } %>
<h1 class="text-center">Quest complete.</h1>
<div class="container">
<h2 class="text-center">Congratulations, <%= @current_user.name %>!</h2>
<% if @current_user.id == @quest.winner_id %>
  <h2 class="text-center">
    <i class="fa fa-5x gold fa-trophy"></i>
  </h2>
  <h2 class="text-center">You won!</h2>
<% elsif @current_user.id == @player_json[1]["id"] %>
  <h2 class="text-center">
    <i class="fa fa-5x silver fa-trophy"></i>
  </h2>
  <h2 class="text-center">You placed second!</h2>
<% elsif @current_user.id == @player_json[2]["id"] %>
  <h2 class="text-center">
    <i class="fa fa-5x bronze fa-trophy"></i>
  </h2>
  <h2 class="text-center">You placed third!</h2>
<% end %>

<h4>Quest Participants:</h4>
<% @player_json.each_with_index do |player, idx| %>
  <div class="well">
    <h4>
      <% if player[:finished] != @quest.created_at %>
        <% if idx == 0%>
          <i class="fa fa-2x gold fa-trophy"></i>
        <% elsif idx == 1 %>
          <i class="fa fa-2x silver fa-trophy"></i>
        <% elsif idx == 2 %>
          <i class="fa fa-2x bronze fa-trophy"></i>
        <% end %>
      <% end %>
      <%= player["name"] %>
    </h4>
    <% if player[:finished] != @quest.created_at %>
      <p>Finished: <%= player[:finished] %></p>
    <% else %>
      <p>Did not finish.</p>
    <% end %>
	  </div>
	<% end %>
</div>
