<%= render "partials/new_quest_locations" %>
<%= render "partials/new_quest_invite" %>
<%= render "partials/new_quest_times" %>

<a class="btn btn-primary" data-toggle="modal" href='#modal-locations'>Configure Quest</a>
