<div id="about-background">
	<h1>All about our project</h1>
	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3">
			<h4 class="text-justify">Skavengr was built with Ruby on Rails in one week as a group project for a General Assembly Web Development Immersive Class.  The idea for a location based scavenger hunt app was inspired by Pokemon Go, FrogQuest, and 4Square, along with our team's love of games in general.  Read more about it on our <a href="https://github.com/WDI-gaming-data/skavengr">Github page</a></h4>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 picholder">
			<h2 class = 'text-center'>Carl Reiner</h2>
			<h4 class = 'text-center'>Git Master &amp; Mapping Wizard</h4>
			<div class="midholder">
				<%=image_tag('carl.jpg')  %>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 picholder">
		<h2 class = 'text-center'>Joe Rehfuss</h2>
			<h4 class = 'text-center'>Project Manager &amp; Database Rockstar</h4>
			<div class="midholder">
				<%=image_tag('joe.jpg')  %>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 picholder">
			<h2 class = 'text-center'>Alec McGovern</h2>
			<h4 class = 'text-center'>Front-End Ninja</h4>
			<div class="midholder">
				<%=image_tag('alec.jpg')  %>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="midholder">
				<p class="bio">Carl is a full-stack web developer with a passion for technology and accessibility. Working in neuro rehab taught him that accessiblity shouldn’t be an afterthought, and this belief helps inform his development process. He thrives as part of a team, sharing his knowledge and learning from others. When he is not coding, you will find him enjoying the outdoors or a good movie.</p>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="midholder">
				<p class="bio">Joe is a Seattle-based full-stack web developer with a passion for creating efficient, user-friendly applications.  He is excellent at problem solving, able to overcome challenges quickly, and thrives when working as part of a team.  In his free time, he enjoys board games and bouldering.</p>
			</div>
		</div>
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<div class="midholder">
				<p class="bio">Alec is a web developer with a strong interest in music and the arts. The internet has fundamentally changed the way that we share our creative endeavors around the globe. Alec aims to be on the front lines of where this content is hosted, and to help people around the world share their talents. When he is not programming he like to produce music, play games, and go on outdoor adventures.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<h2 class = 'text-center'>Technologies</h2>	
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 col-xs-offset-4">
			<ul>
				<li><strong>Maps generated using the <a href="https://developers.google.com/maps/?hl=en">Google maps API</a></strong></li>
				<li><strong>Forms generated using the <a href="https://github.com/bootstrap-ruby/rails-bootstrap-forms">BootStrap form helper</a></strong></li>
				<li><strong>Validations made possible by the<a href="https://github.com/adzap/validates_timeliness/tree/master">timeliness gem</a>, the <a href="https://github.com/travisjeffery/validates_phone_number/blob/master/README.markdown">phone number validation gem</a>, and the <a href="https://github.com/balexand/email_validator">email validation gem</a></strong></li>
				<li><strong>Text messaging service made possible by <a href="https://www.twilio.com/api">Twilio</a></strong></li>
			</ul>
		</div>
	</div>
	<p id="imagelinks" class="text-center">Image Links:</p><br>
	<div id="imglink-div">
		<a class="img-link text-center" href="http://www.financialgazette.co.zw/wp-content/uploads/Vulture.jpg">http://www.financialgazette.co.zw/wp-content/uploads/Vulture.jpg</a><br>
		<a class="img-link text-center" href="https://quietkinetic.files.wordpress.com/2013/11/shutterstock_108997670.jpg">https://quietkinetic.files.wordpress.com/2013/11/shutterstock_108997670.jpg</a><br>
		<a class="img-link text-center" href="http://images.sciencedaily.com/2014/04/140429085231_1_900x600.jpg">http://images.sciencedaily.com/2014/04/140429085231_1_900x600.jpg</a><br>
		<a class="img-link text-center" href="http://7-themes.com/data_images/out/58/6970392-old-world-map-wallpaper.jpg">http://7-themes.com/data_images/out/58/6970392-old-world-map-wallpaper.jpg</a>
	</div>
</div>