
<!-- Section 1 -->
<section id="first" data-speed="6" data-type="background">
    <div class="container">
        <h1 id="welcome"><em><bold>Welcome to Skavengr</bold></em></h1>
        <h4 id="adventure" class="text-center">Adventure awaits</h4>
    </div>
</section>
<!-- Section 2 -->
<section id="fmid" data-speed="6" data-type="background">
    <div class="container">
        <h1>Choose destinations from anywhere in the world</h1>
        <p class="text-center">Write clues for each location. Participants must get within 25 meters of a location to get a notification of completion</p>
    </div>
</section>

<!-- Section 3 -->
<section id="middle" data-speed="4" data-type="background">
    <div class="container">

    </div>
</section>

<!-- Section 4 -->
<section id="lmid" data-speed="6" data-type="background">
    <div class="container">
        <h1>Challenge friends and visitors</h1>
        <div class="text-width">
            <p class="text-center">Invite some friends out downtown or entertain visitors on tours of your city.  Enter locations beforehand with descriptions instead of clues, and never again have to worry about acting as a guide for a large a group.  </p>
        </div>
    </div>
</section>

<!-- Section 5 -->
<section id="last" data-speed="2" data-type="background">
    <div class="container">

    </div>
</section>




















