
<!-- Section 1 -->
<section id="first" data-speed="6" data-type="background">
    <div class="container">
        <h1>Welcome to Skavengr</h1>
        <h4 class="text-center">Adventure awaits</h4>
    </div>
</section>
<!-- Section 2 -->
<section id="fmid" data-speed="6" data-type="background">
    <div class="container">
        <h1>Choose destinations from anywhere in the world</h1>
        <p class="text-center">Write unique clues for each location -- use your creativity!</p>
        <p class="text-center">Participants must get within 25 meters of the location based on these clues</p>
    </div>
</section>

<!-- Section 3 -->
<section id="middle" data-speed="4" data-type="background">
    <div class="container">

    </div>
</section>

<!-- Section 4 -->
<section id="lmid" data-speed="6" data-type="background">
    <div class="container">
        <h1>Challenge your friends</h1>
        <p class="text-center">Add participants by entering their email</p>
        <p class="text-center">You can always add or remove people and locations!</p>
    </div>
</section>

<!-- Section 5 -->
<section id="last" data-speed="2" data-type="background">
    <div class="container">

    </div>
</section>




















