<footer>
	<div id="moreinfo">
  <h4 class="text-center"><a id="about-link" href="/about">About this project</a></h4>
  <p class="text-center">Created by Joe Rehfuss, Carl Reiner, and Alec McGovern</p>
  <%=image_tag('vulture-black.png', class: "center-block", id: "blackvulture") %>
</div>

<p class="text-center">&copy; Copyright 2015.  All rights reserved.</p>
</footer>
