<div class="modal fade" id="modal-invite">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Invite Users</h4>
      </div>
      <div class="modal-body">
        <form id = 'hero-list'>
          <button class="btn btn-primary" id="new-hero">Add Hero!</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-target="#modal-locations" data-toggle="modal">Back</button>
        <button type="button" class="btn trigger-time btn-default" data-dismiss="modal" data-target="#modal-times" data-toggle="modal">Next</button>
      </div>
    </div>
  </div>
</div>
