/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	font-family: 'Black Ops One';
}
.navbar{
	height: 100px;
	background-color: #9e0e0e;
	border: 0px solid #9e0e0e;
	border-radius: 0px;
}
#home{
	margin-top: 50px;
	color: white;
	float: left;
}
#login{
	margin-top: 50px;
	color: white;
}
#username{
	margin-top: 50px;
	color: white;
}
#username:hover{
	text-decoration: none;
}
#navright{
	margin-right: 10px;
	margin-top: 70px;
	list-style-type: none;
}
.centertext{
	text-align: center; 
}
img{
	width: 60%;
	margin-left: 20%;
}