/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require sweet-alert
 *= require_tree .
 *= require_self
 */

body{
	font-family: 'Black Ops One';
}
.navbar{
	background-color: #960404;
	border-bottom: 4px solid black;
	border-radius: 0px;
	margin-bottom: 0px;
}
#nav-links-right{
	list-style-type: none;
}
#nav-links-right li{
	display: inline;
	padding-left: 20px;
}
#home{
	margin-top: 50px;
	color: white;
	float: left;
	font-size: 14px;
}
#login, #username, #quest-manager{
	margin-top: 50px;
	color: white;
	font-size: 10px;
}
#username:hover, #quest-manager:hover{
	text-decoration: none;
}
#navright{
	margin-right: 10px;
	margin-top: 70px;
	list-style-type: none;
}
.centertext{
	text-align: center;
}
img{
	width: 100%;
}
.btn{
	background-color: #960404;
	border: 2px solid white;
	color: white;
	outline: none;
}
.btn:hover{
	background-color: white;
	color: #960404;
	border-color:  #960404;
}
.btn.focus, .btn:focus, .btn.active, .btn:active{
	background-color: #960404;
	border: 2px solid white;
	color: white;
	outline: none;
}

.vulture{
		margin-top: 40px;
		height: 50px;
		width: 50px;
	}
@media(min-width: 500px){
	.vulture{
		margin-top: 20px;
		height: 75px;
		width: 75px;
	}
	#home{
		font-size: 20px;
	}
	#login, #username, #quest-manager{
		margin-top: 50px;
		color: white;
		font-size: 14px;
	}

}
@media(min-width: 750px ){
	.vulture{
		margin-top: 0px;
		height: 100px;
		width: 100px;
	}
	#home{
		font-size: 30px;
	}
	#login, #username, #quest-manager{
		font-size: 20px;
	}
}
