/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require sweet-alert
 *= require_tree .
 *= require_self
 */


/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript, 
if it's not present, don't show loader */
html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
	font-family: 'Cabin Condensed';
}
.navbar{
	background: linear-gradient(90deg, #960404, #8E2800, transparent 50%),
				 #8E2800  url('/Jawaz.png') no-repeat center;
	background-size: 600px;
	border-bottom: 4px solid white;
	border-radius: 0px;
	margin-bottom: 0px;
}
@media(min-width: 550px){
	.navbar{
		background-size: 100%;
	}
}
#nav-links-right{
	list-style-type: none;
}
#nav-links-right li{
	display: inline;
	padding-left: 20px;
}
#home{
	padding-left: 5px;
	padding-right: 5px;
	margin-top: 50px;
	color: white;
	float: left;
	font-size: 14px;
}
#login, #username, #quest-manager{
	margin-top: 50px;
	color: white;
	font-size: 10px;
}
#username:hover, #quest-manager:hover{
	text-decoration: none;
}
#navright{
	margin-right: 10px;
	margin-top: 70px;
	list-style-type: none;
}
.centertext{
	text-align: center;
}
img{
	width: 100%;
}
.btn{
	background-color: #960404;
	border: 2px solid white;
	color: white;
	outline: none;
}
.btn:hover{
	background-color: white;
	color: #960404;
	border-color:  #960404;
}
.btn.focus, .btn:focus, .btn.active, .btn:active{
	background-color: #960404;
	border: 2px solid white;
	color: white;
	outline: none;
}

.vulture{
		margin-top: 40px;
		height: 50px;
		width: 50px;
	}
@media(min-width: 500px){
	.vulture{
		margin-top: 20px;
		height: 75px;
		width: 75px;
	}
	#home{
		font-size: 20px;
	}
	#login, #username, #quest-manager{
		margin-top: 50px;
		color: white;
		font-size: 14px;
	}

}
@media(min-width: 750px ){
	.vulture{
		margin-top: 0px;
		height: 100px;
		width: 100px;
	}
	#home{
		font-size: 30px;
	}
	#login, #username, #quest-manager{
		font-size: 20px;
	}
}
.modal-link{
	color: #960404;
}
.modal-link:hover{
	color: #960404;
}
.alert{
	margin: 0px;
}
