// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header{
	position: absolute;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	font-size: 30px;
	color: white;
}

#moreinfo{
	height: 220px;
}

@media(min-width: 750px){
	.header{
		font-size: 50px;

	}
}

#blackvulture{
	width: 150px;
	height: 150px;
}
#about-link{
	color: #960404;
}

#about-background{
	background-color: #5b9bea;
	height: 1000px;
}

.picholder{
	.midholder{
		padding: 40px;
		img{
			border: 4px solid white;
		}
	}
}
.bio{
	padding-left: 40px;
	padding-right: 40px;
	text-align: center;
}
#imglink-div{
	text-align: center;
}
.img-link{
	color: white;
	text-align: center;
}
#imagelinks{
	color: white;
	margin-top: 30px;
	text-decoration: underline;
}