// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#header{
	position: absolute;
	width: 40%;
	margin-left: 30%;
	text-align: center;
	font-size: 50px;
}

#header2{
	position: absolute;
	width: 40%;
	margin-left: 30%;
	text-align: center;
	font-size: 50px;
}
#p2{
	position: absolute;
	top: 200px;
	left: 50px;
	color: white;
}
#header3{
	position: absolute;
	width: 40%;
	margin-left: 30%;
	text-align: center;
	font-size: 50px;
}
#p3{
	position: absolute;
	top: 200px;
	left: 50px;
	color: white;
}