// Place all the styles related to the quests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body {
  height: 100%;
}

// #questbackground{
// 	width: 100%;

// 	background-image: url("oldmap.jpg");
// }
// #questshow{
// 	width: 100%;
// 	background-image: url("oldmap.jpg");
// }
#quest-edit-background{
	width: 100%;
	height: 1000px;
	background-image: url("oldmap.jpg");
}
#map {
  width: 100%;
  margin-left: 0%;
  height: 80vh;
  border: 3px solid white;
}
#modal-locations .modal-dialog {
  width: 80%;
}
#newquest-header{
	font-size: 16px;
	color: black;
}
.instruction{
	color: black;
	font-size: 2vw;
	text-align: center;
}
.image-instruction{
	border: 4px solid black;
	width: height;
}
h3{
	color: white;
}

#leftwell, #middlewell, #rightwell{
	padding: 20px;
}
#configure{
	width: 60%;
	margin-left: 20%;
}
@media(min-width: 400px){
	font-size: 20px;
}
@media(min-width: 500px){
	#configure{
		width: 40%;
		margin-left: 30%;
	}
	#newquest-header{
	font-size: 26px;
	}
}
@media(min-width: 800px){
	#configure{
		width: 30%;
		margin-left: 35%;
	}	
	.instruction{
		font-size: 14px;
	}
}

#loc-list{
	border: 1px solid black;
	border-radius: 5px;
	background-color: #ffdeb2;
	margin-top: 10px;
	width: 100%;
	height: 400px;
	overflow: auto;
	padding: 10px;
}


#invite-heroes{
	margin: 10px;
}
div .modal-header{
	background-color: #960404;
	text-align: center;
	color: white;
}
div .modal-body{
	background-color: #db984b;
}
.objectives{
	overflow: auto;
	height: 200px;
	background-color: #960404;
	border: 2px solid white;
	border-radius: 5px;
}
.completed{
	overflow: auto;
	height: 200px;
	background-color: #db984b;
	margin-bottom: 20px;
	border: 2px solid white;
	border-radius: 5px;
}
