// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	text-align: center;
	color: black;
	margin-top: 0px;
	padding-top: 20px;
}
h2{
	font-size: 4vw;
}

@media(min-width: 600px){
	#makequest{
		width: 30%;
		margin-left: 35%;
	}
}

.questdiv, .questdiv-owned{
	background: linear-gradient(0deg,  #DB984B, #a05500);
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid white;
	width: 80%;
	
	h4{
		text-align: center;
		font-size: 3vw;
	}
	h6{
		font-size: 3vw;
	}
	p{
		font-size: 3vw;
	}
	.btn{
		font-size: 2vw;
	}
	.delete{
		margin-bottom: 10px;
	}
}
.quest-label{
	color: white;
	text-align: center;
}
#quest-container{
	color: white;
	background: linear-gradient(0deg,  #DB984B, #960404);
	// background: #960404;
	width: 95%;
	margin-left: 0%;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid white;

}
#participating-quest-container{
	color: white;
	background: linear-gradient(0deg, #DB984B, #960404);
	width: 95%;
	margin-left: 5%;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid white;
}

#userbackground{
	width: 100%;
	background-image: url("/oldmap.jpg");
}
h6{
	text-decoration: underline;
}