// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1{
	text-align: center;
	color: black;
	margin-top: 0px;
	padding-top: 20px;
}
h2{
	font-size: 4vw;
}
#makequest{
	background-color: #014687;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 50px;
}
#makequest:hover{
	color: white;
	background-color: #5fb0ff;
	border-color: #014687;
}
@media(min-width: 600px){
	#makequest{
		width: 30%;
		margin-left: 35%;
	}
}
.questdiv-owned{
	background: linear-gradient(0deg,  #5fb0ff, #014687);
}

.questdiv{
	background: linear-gradient(0deg,  #DB984B, #960404);
}

.questdiv, .questdiv-owned{
	color: white;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
	width: 80%;
	
	h4{
		text-align: center;
		font-size: 3vw;
	}
	h6{
		font-size: 3vw;
	}
	p{
		font-size: 3vw;
	}
	.btn{
		font-size: 2vw;
	}
	.delete{
		margin-bottom: 10px;
	}
}
.quest-label{
	color: white;
	text-align: center;
	text-decoration: underline;
}
#quest-container{
	color: white;
	background: linear-gradient(0deg,  #5fb0ff, #014687, black, #014687);
	// background: #960404;
	width: 95%;
	margin-left: 0%;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid black;
	.delete{
		background-color: black;
		width: 80%;
		margin-bottom: 10px;
	}
	.edit{
		width: 80%;
		margin-bottom: 10px;
	}
	@media(min-width:800px){
		.delete{
			width: 50%;
		}
		.edit{
			width: 50%;	
		}
	}

}
#participating-quest-container{
	color: white;
	background: linear-gradient(0deg, #DB984B, #960404, black, #960404);
	width: 95%;
	margin-left: 5%;
	border-radius: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 3px solid black;
	.go-to{
		width: 80%;
		margin-bottom: 10px;
	}
	@media(min-width: 800px){
		.go-to{
			width: 50%;
		}
	}
}

#userbackground{
	width: 100%;
	background-image: url("/oldmap.jpg");
}
h6{
	text-decoration: underline;
}